<article class="text-sm md:text-xl text-pretty">
  <p class="mb-4 opacity-80">
    I'm Santiago Barragan Real, a dedicated full-stack developer with a strong
    foundation in both frontend and backend technologies. My journey into web
    development began with a curiosity for how websites functioned, which
    quickly evolved into a passion for creating seamless digital experiences.
  </p>
  <p class="mb-4 opacity-80">
    Over the years, I've honed my skills in various programming languages and
    frameworks, allowing me to build robust applications that are not only
    functional but also user-friendly. I thrive in collaborative environments
    where I can contribute to innovative projects and learn from others.
  </p>
  <p class="opacity-80">
    When I'm not coding, I enjoy exploring new technologies, contributing to
    open-source projects, and staying updated with industry trends. I'm always
    eager to take on new challenges and expand my skill set in the ever-evolving
    world of web development.
  </p>
</article>
